* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.taskBlockAdd {
    padding: 30px;
    background-color: rgb(108, 37, 117);
    border-radius: 20px;
    margin: 50px;
}

.sectionListTask {
    /* width: 700px; */
    min-height: 500px;
    height: auto;
    background: linear-gradient(150deg, rgb(180, 74, 180), rgb(244, 112, 134));
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.list {
    list-style: none;
    width: 530px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.list__item {
    display: flex;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(108, 37, 117);
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__itemBlock {
    width: 500px;
    padding: 10px;
    border-bottom: 2px solid rgb(255, 254, 254);
    color: pink;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    width: 350px;
    height: 50px;
    border: 2px solid rgb(180, 74, 180);
    border-radius: 10px;
    box-shadow: 0px 0px 7px 2px rgb(244, 112, 134);
    font-size: 1.3rem;
    margin: 5px;
    text-overflow: ellipsis;
}

.btn {
    width: 100px;
    height: 50px;
    border: 2px solid rgb(180, 74, 180)t;
    background-color: rgb(180, 74, 180);
    border-radius: 10px;
    box-shadow: 0px 0px 7px 2px rgb(244, 112, 134);
    font-size: 1.5rem;
    margin: 5px;
    cursor: pointer;
    color: white;
}
.btn:hover {
    background-color: pink;
    transform: scale(0.95);
}

.paragraf {
    font-size: 2rem;
    color: white;
}

.input:required:invalid ~ .btn {
    opacity: .65;
    pointer-events: none;
}

[data-search]:not([data-search=""]) .list__item:not(.search-result) { display: none; }

/* ///// */

@media screen and (max-width: 650px) {
    .taskBlockAdd {
        padding: 25px;
        margin: 40px;
    }
    
    .list {
        width: 385px;
    }
    
    .list__itemBlock {
        width: auto;
        min-width: 345px;
        padding: 5px;
    }
    
    .input {
        width: 246px;
    }
    
    .btn {
        width: 75px;
    }
  }

  @media screen and (max-width: 485px) {
    
    .list {
        width: 320px;
    }
    
    .list__itemBlock {
        min-width: 280px;
    }
    
    .input {
        width: 190px;
    }
    
    .btn {
        width: 66px;
    }
  }